:textile
  I am a software engineer (EIT) in Edmonton, Alberta, Canada. I enjoy all kinds of programming, except assembly, which is the bane of my existence. More information about me can be seen at my "professional online presence":http://darkhax.com/

  I work for "CodeBaby":http://www.codebaby.com

  I designed the theme for, and built this blog from scratch. On a MacBook Pro. There was no app for that. The code, however, is all on "Github":http://github.com/darkhelmet/darkblog/tree/master

  This site is proudly running on "Heroku":http://heroku.com/

  !/images/heroku.png!

  For a full sitemap of this site, see "here":/sitemap.xml

  Sidebar icons by: <span xmlns:cc="http://creativecommons.org/ns#" about="http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/"><a rel="cc:attributionURL" property="cc:attributionName" href="http://komodomedia.com">Komodo Media, Rogie King</a> / <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a></span>