%ul
  - Post.find_by_sql(['SELECT DISTINCT(category) FROM posts WHERE published = ? AND published_on < ? ORDER BY category', true, Time.now.utc]).map(&:category).each do |cat|
    %li= category_link(cat)