%hr
#disqus_thread
= javascript_include_tag("http://disqus.com/forums/#{Blog.disqus}/embed.js")
%noscript= link_to('View the discussion thread.', "http://#{Blog.disqus}.disqus.com/?url=ref")
%a.dsq-brlink{ :href => "http://disqus.com" }
  blog comments powered by
  %span.logo-disqus Disqus