.sidebar-item
  %h3{ :style => 'display: inline-block' } Tags
  %span.small= link_to('(show all tags)', '#', :id => 'show-tags')
  %br
  = partial(:tag_sidebar)
.sidebar-item
  %h3 Categories
  = partial(:category_sidebar)
.sidebar-item
  %h3 Archives
  = partial(:monthly_archives)