#footer
  %div{ :style => 'height: 10px;' }
  .center
    %p
      %span{ 'xmlns:dc' => 'http://purl.org/dc/elements/1.1/', :href => 'http://purl.org/dc/dcmitype/Text', :property => 'dc:title', :rel => 'dc:type' } verbose logging
      by
      = link_to('Daniel Huckstep', 'http://darkhax.com/', 'xmlns:cc' => 'http://creativecommons.org/ns#', :property => 'cc:attributionName', :rel => 'cc:attributionURL')
      is licensed under a
      = link_to('Creative Commons Attribution-Share Alike 2.5 Canada License', 'http://creativecommons.org/licenses/by-sa/2.5/ca/', :rel => 'license')
      |
      = link_to('Disclaimer', '/disclaimer')
      |
      = link_to('Contact', '/contact')
      |
      Theme
      %em darkhax
      by Daniel Huckstep