#ie6nomore
  .spacer
  .spacer
  .spacer
  %div{ :style => "border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;" }
    %div{ :style => "position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;" }
      %a{ :href => "#", :onclick => "$('#ie6nomore').hide(); return false;" }
        %img{ :src => "http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg", :alt => "Close this notice", :style => "border: none;" }
    %div{ :style => "width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;" }
      %div{ :style => "width: 75px; float: left;" }
        %img{ :src => "http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg", :alt => "Warning!" }
      %div{ :style => "width: 275px; float: left; font-family: Arial, sans-serif;" }
        %div{ :style => "font-size: 14px; font-weight: bold; margin-top: 12px;" }
          You are using an outdated browser
        %div{ :style => "font-size: 12px; margin-top: 6px; line-height: 12px;" }
          For a better experience using this site, please upgrade to a modern web browser.
      %div{ :style => "width: 75px; float: left;" }
        %a{ :href => "http://www.firefox.com", :target => "_blank" }
          %img{ :src => "http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg", :alt => "Get Firefox 3.5", :style => "border: none;" }
      %div{ :style => "width: 75px; float: left;" }
        %a{ :href => "http://www.browserforthebetter.com/download.html", :target => "_blank" }
          %img{ :src => "http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg", :alt => "Get Internet Explorer 8", :style => "border: none;" }
      %div{ :style => "width: 73px; float: left;" }
        %a{ :href => "http://www.apple.com/safari/download/", :target => "_blank" }
          %img{ :src => "http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg", :alt => "Get Safari 4", :style => "border: none;" }
      %div{ :style => "float: left;" }
        %a{ :href => "http://www.google.com/chrome", :target => "_blank" }
          %img{ :src => "http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg", :alt => "Get Google Chrome", :style => "border: none;" }
