#toppanel
  #panel
    .container_12
      #toppanel-extras.grid_12
        #reader-badge.grid_6.left.alpha
        #github-badge.grid_6.left.omega
  .tab
    %ul.login
      %li.left
      %li#toggle
        %a#open.open{ :href => '#' } More
        %a#close.close{ :style => 'display: none;', :href => '#' } Less
      %li.right &nbsp;