#toppanel
  #panel
    .container_12
      #toppanel-extras.grid_12
        .grid_6.left.alpha
          %h2.center What I'm Reading
          = javascript_include_tag('http://www.google.com/reader/ui/publisher-en.js', true)
          = reader_widget_tag
        #github-badge.grid_6.left.omega
  .tab
    %ul.login
      %li.left
      %li#toggle
        %a#open.open{ :href => '#' } More
        %a#close.close{ :style => 'display: none;', :href => '#' } Less
      %li.right &nbsp;