:textile
  I am a software engineer (EIT) in Edmonton, Alberta, Canada. I enjoy all kinds of programming, except assembly, which is the bane of my existence. More information about me can be seen at my "professional online presence":http://www.darkhax.com

  I work for "CodeBaby":http://www.codebaby.com

  I designed the theme for this blog.