= javascript_include_tag('http://wufoo.com/scripts/embed/form.js')
:javascript
  var z7x4z5 = new WufooForm();
  z7x4z5.initialize({
    'userName':'darkhelmetlive',
    'formHash':'z7x4z5',
    'autoResize':true,
    'height':'434'
  });
  z7x4z5.display();