.form
  %form{ :action => '/redirections', :method => :post }
    %select{ :name => 'redirection[post_id]' }
      - Post.all(:order => 'title ASC').each do |post|
        %option{ :value => post.id }= "#{post.title} (#{post.permalink})"
    %br
    %input.max{ :type => 'text', :name => 'redirection[old_permalink]' }
    %br
    %input{ :type => 'submit', :value => 'Submit' }