.form
  %form{ :action => '/posts', :method => 'post' }
    - unless @post.new_record?
      %input{ :type => 'hidden', :name => '_method', :value => 'put' }
      %input{ :type => 'hidden', :name => 'post[id]', :value => @post.id }
    %label Title
    %br
    %input.max{ :type => 'text', :name => 'post[title]', :value => @post.title }
    %br
    %label Category
    %br
    %input.max{ :type => 'text', :id => 'post_category', :name => 'post[category]', :value => @post.category }
    :javascript
      $('#post_category').autocomplete("#{Post.all(:select => :category).map(&:category).uniq.join(' ')}".split(' '));
    %br
    %label Body
    %br
    %textarea{ :name => 'post[body]' }= h(@post.body)
    %br
    %label Tags
    %br
    %input.max{ :type => 'text', :id => 'post_tag_list', :name => 'post[tag_list]', :value => @post.tag_list }
    :javascript
      $('#post_tag_list').autocomplete("#{Tag.all.map(&:name).join(' ')}".split(' '), { multiple: true });
    %br
    %label Publish Date
    %br
    %input.max{ :type => 'text', :name => 'post[published_on]', :value => @post.published_on }
    %br
    %label Published?
    %input{ :type => 'checkbox', :name => 'post[published]', :checked => @post.published }
    %br
    %input{ :type => 'submit', :value => 'Submit' }