%div.grid_2.alpha{ :id => 'no-results-sidebar' }
  %p
    <!-- take up space -->
%div.grid_8.omega.content{ :id => 'no-results-content' }
  .border
    .entry
      %h1 Nothing Found
      Try again. I couldn't find anything.