#footer
  %div{ :style => 'height: 10px;' }
  .center
    %p
      %span{ 'xmlns:dc' => 'http://purl.org/dc/elements/1.1/', :href => 'http://purl.org/dc/dcmitype/Text', :property => 'dc:title', :rel => 'dc:type' } verbose logging
      by 
      %a{ 'xmlns:cc' => 'http://creativecommons.org/ns#', :href => 'http://www.darkhax.com', :property => 'cc:attributionName', :rel => 'cc:attributionURL' } Daniel Huckstep
      is licensed under a
      %a{ :rel => 'license', :href => 'http://creativecommons.org/licenses/by-sa/2.5/ca/' } Creative Commons Attribution-Share Alike 2.5 Canada License 
      |
      %a{ :href => '/disclaimer' } Disclaimer
      |
      %a{ :href => '/contact' } Contact
      | 
      Theme <em>darkhax</em> by Daniel Huckstep