#top-title.grid_8.prefix_2.suffix_2.alpha.omega
  %h1= Blog.title
  = Blog.tagline
  %ul#nav-menu.right
    %li
      %a{ :href => '/' } Home
    %li
      %a{ :href => '/about' } About
    %li
      %a{ :href => '/contact' } Contact
    %li
      %a{ :href => '/disclaimer' } Disclaimer
    %li
      %a{ :href => '/google-search' } Google Search
.clear