%div.grid_2.alpha{ :id => 'not-found-sidebar' }
  %p
    <!-- take up space -->
%div.grid_8.omega.content{ :id => 'not-found-content' }
  .border
    .entry
      %h1 404 Not Found
      %p.center= image_tag('kitty.png')
      %h5 Every time you get a 404, a kitten cries.
      %h5
        You should probably click on some links. If this URL was supposed to work,
        = link_to('let me know', '/contact')