%div.grid_2.alpha{ :id => "not-found-sidebar" }
  %p
    <!-- take up space -->
%div.grid_8.omega.content{ :id => "not-found-content" }
  .border
    .entry
      %h1 404 Not Found
      Yeah, so I'm gonna have to ask you to type that URL again, yeah. Oh and if you could make sure to note that this was in fact a 404 Not Found on your TPS reports, that would be just great...